# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env
.venv/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Dataset (Huge files, do not upload)
data/
plantvillage_data/
backend/models/*.keras
!backend/models/.gitkeep

# Environment variables (Credentials)
.env
google-credentials.json
kaggle.json

# Logs
*.log
